/* .background-anniversary {
    position: absolute;
    width: 800px;
    height: 604px;
    left: 388px;
    top: 221px;

    background: #EFEFEF;
    border-radius: 30px;
  } */

.whitebox {
  border-radius: 10px;
  margin: 10px 10px 10px 10px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  border-radius: 20px;
}

.heart {
  width: 9.3%;
  height: 40px;
  background: url(icons8-하트-48.png);
}
.firstday {
  text-align: center;
  width: 200px;
}
.day-show-div {
  display: flex;
}
.leftday {
  float: left;
}
.rightday > h3 {
  margin-left: 20px;
}
.line2 {
  width: 100%;
  height: 0.5px;
  background: black;
  border: 1px solid #767676;
  border-radius: 50px;
}
